@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@700&family=Poppins:wght@300&family=Source+Code+Pro&display=swap');

.player-profile {
  background-color: #54585f;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(240, 59, 59);
  padding: 150px 0;
}

.player-profile a {
  text-decoration: none;
  color: white;
  margin-bottom: 40px;
}

.name-avatar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.name-avatar img {
  width: 10%;
  color: #f03b3b;
}

.name-avatar {
  font-family: Source Code Pro;
}

.legend-icon {
  display: flex;
  width: 300px;
  margin: 20px 0;
}

.legend-icon img {
  width: 100%;
}

.rank-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: Source Code Pro;
  color: white
}

.status {
  margin: 20px 0;
  font-size: calc(8px + 2vmin);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (min-width: 768px) {
  .player-profile {
    flex-direction: row;
    justify-content: center;
    gap: 100px
  }

  .container {
    width: 366px;
  }
}