.legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding: 20px 20px;
  gap: 30px;
}

.search {
  padding-top: 20px;
  background-color: #54585f;
}

.legend-page {
  background-color: #54585f;
  min-height: 100vh;
}