.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  gap: 125px;
  background-color: #54585f;
  padding: 150px 0;
  /* min-width: 100vh; */
}