.news-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  row-gap: 50px;
  column-gap: 50px;
  background-color: #54585f;
  padding: 150px 0;
  /* min-width: 100vh; */
}